body{
    font-family: 'Teko', sans-serif;
    background-color: white;
    font-size: 2vw;

}
.div1{
    background-image: linear-gradient(transparent, white);
    height:200px;
    width:100%;
    z-index:10;
    position:absolute;
    top:72vh;
}
.pad{
    padding:5%;
}

section{
    position:relative;
    min-height:100vh;
    width: 100%;
    margin-top:0;
    border-top:5px;
    border-color:black;
}

section:nth-child(odd){

    background-color:rgb(185, 185, 185);

}
.pro{
    background-color:rgb(83, 125, 179);
}

.progress{
    background-color:gray;
}

section:nth-child(even){
    background-color:white;

}

.imgg{
    padding:2%; 
    max-width: 18rem; 
    min-width:18rem; 
    min-height: 18rem; 
    max-height:18rem;
}

#myVideo{
    width:auto;
    height: auto;
}
#aboutt, #workk, #sskills, #ccv, #rrss{
    color: rgb(83, 125, 179) !important;
}

#aboutt:hover, #workk:hover, #sskills:hover, #ccv:hover, #rrss:hover{
    color: #fff !important;
}

#home{
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

#logo{
    position: absolute;
    min-width: 100px;
    left: 0;
    top: 25%;
    max-width: 100px;

}

#navbar{
    top:30%;
    position: relative;
    background-color:transparent;
    list-style:none;
    display: flex;
    justify-content: flex-end;
    margin-right:5%;
    font-size: 100%;
    color: rgb(83, 125, 179);

}

.contact{
    margin-top:15px;
}

#email{
    width:130px;
    height: 70px;
}

li{
    padding: 2%;

}

a{
    color:white;
    font-size: 3.8vw;
}

a:link{
    text-decoration:none;
}

a:hover{
    color: rgb(83, 125, 179);
}

#work{
    text-align: center;

}

#p{
    text-align:center;

}

h1{
    margin:3px;
    font-family: 'Shadows Into Light';
    font-size:10vh;
    color:rgb(83, 125, 179);

}




h2{
    font-size:7vh;
}

.p{

    font-size: 20px;
}

.col-md-4 {

    margin-left:33%
}

#snarky, #cleanote{

  width:50vh;


}

#spam{
   width: 50vh;
   height:30vh;
}
.centerImg{

    display: flex;
    justify-content: center;
    align-items: center;

}

#josep{
    width: 30vh;
}

#presentacion{
    color:rgb(83, 125, 179) !important;

    font-family:'Shadows Into Light';
    text-align:center;
    font-size:7vw;
    padding:0%;
}

#presentacion2 , #presentacion3{
    color:transparent;
}


#txt2, #txt3, #txt4{
    padding-bottom:4%;
    text-align:center;
}

#motivation{
    font-size: 6vw;
    text-align:center;
    padding:5%;
}

#idioma:hover{
    color:black;
    background-color:black;
}

#myVideo{
    display: block;
    margin: 0 auto;

}

#cvv, #btns{
    text-align:center;
}

#btns{
    padding:2%;
}

#color{
    background-color: white;
}



.typewriter{
    color:rgb(83, 125, 179) !important;
    font-family: 'Shadows Into Light';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 2.5s steps(30, end),
      blink-caret .5s step-end 6;
  }

  .typewriter2{
    color:rgb(83, 125, 179) !important;
    font-family: 'Shadows Into Light';
    text-align:center;
    font-size:7vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 2.5s steps(30, end),
      blink-caret .5s step-end 4;
  }

  .typewriter3{
    color:rgb(83, 125, 179) !important;
    font-family: 'Shadows Into Light';
    text-align:center;
    font-size:7vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 2.5s steps(30, end),
      blink-caret .5s step-end 1;
  }

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  .center{
      text-align: center;
  }


  #imagen{
      padding: 3%
  }
#start, #experiencia, #estudios, #motivaciones, #playVid, #pauseVid, #subtitles{
    background-color: rgb(83, 125, 179);
}


#start:hover, #experiencia:hover, #estudios:hover, #motivaciones:hover, #playVid:hover, #pauseVid:hover{
    background-color: white;
    color: rgb(83, 125, 179);
}

#linkSnarky, #linkClea, #linkSpam{
    color:rgb(83, 125, 179);
}

@media only screen and (max-width: 375px) {
    h2 {
      font-size: 5vh;
    }
    h1{
        font-size: 6vh;
    }

    #spam{
        width: 40vh;
        height:25vh;
     }

    #snarky, #cleanote{
        margin-left: auto !important;
        width:40vh;
      
      }

      .p{
          font-size: 1.5vh !important;
          padding-right: 5%;
          padding-left: 5%;
      }

      .descargar{
          font-size: 5vh;
      }

      #logo{
        position: absolute;
        min-width: 75px;
        left: 0;
        top: 5%;
        max-width: 75px;
      }

      #home{
        background-image: url("../img/fondo.jpg");
        background-position: 75% 0%;
        background-repeat:no-repeat;
        background-size: cover;
    }

    #presentacion{
        color:white;
        font-family:'Shadows Into Light';
        text-align:center;
        font-size:7vw;
        margin-top:20%;
        padding:0%;
    }
    
    #presentacion2 , #presentacion3{
        color:transparent;
    }

    #sectionFooter{
        min-height: 10px!important;
        max-height: 10px !important;
    }

    #email{
        min-height: 50px!important;
        max-height: 50px !important;
        min-width: 60px!important;
        max-width: 60px !important;
    }

  }

   @media only screen and (max-width: 1035px) {
    
    #logo{
        margin-left:5%;
    }

    .li{
        display: inline;
    }
    #home{
        background-image: url("../img/fondo.jpg");
        background-position: 75% 0%;
        background-repeat:no-repeat;
        background-size: cover;
    }
    #presentacion{
        color:white;
        font-family:'Shadows Into Light';
        text-align:center;
        font-size:4.5vw;
        
       
    }

    #presentacion2 , #presentacion3{
        color:transparent;
        font-size:4.5vw;
    }

        h2 {
        font-size: 4vh;
      }
      h1{
          font-size: 6vh;
      }

      #spam{
        width: 40vh!important;
        height:25vh!important;
        margin-left: 50%;
       
        
        
     }

    #snarky, #cleanote{
        display: block !important;
        width:40vh !important;
        box-sizing: unset;
        margin-left: 50%;
      
      }

      #txt2, #txt3, #txt4{
        padding-bottom:4%!important;
        text-align:center!important;
        display: block !important;
        box-sizing: unset;
        margin-left: 25%;
    }
    .skills{
        margin-right: 5%!important;
    }

  } 
  

  @media only screen and (max-width: 768px) {
    

    .li{
        display: inline;
    }
    #home{
        background-image: url("../img/fondo.jpg");
        background-position: 75% 0%;
        background-repeat:no-repeat;
        background-size: cover;
    }
    #presentacion{
        color:white;
        font-family:'Shadows Into Light';
        text-align:center;
        font-size:4.5vw;
        
       
    }

    #presentacion2 , #presentacion3{
        color:transparent;
        font-size:4.5vw;
    }

        h2 {
        font-size: 4vh;
      }
      h1{
          font-size: 6vh;
      }

      #spam{
        width: 40vh!important;
        height:25vh!important;
        margin-left: -0%;
       
        
        
     }

    #snarky, #cleanote{
        display: block !important;
        width:40vh !important;
        box-sizing: unset;
        margin-left: 25%;
      
      }

      #txt2, #txt3, #txt4{
        padding-bottom:4%!important;
        text-align:center!important;
        display: block !important;
        margin-right: 25%!important;
        margin-left:0%;
        
    }
    .skills{
        margin-right: 5%!important;
    }

  } 
  
